body{
	width: 960px;
	margin: 2px auto;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

p{
	margin: 0 0 20px 0;
}

p, li {
	line-height: 20px;
}

header #page-header{
	width: 100%;
}

section#posts{
	float: left;
	width: 74%;
}

section#posts aside{
	float: right;
	width: 35%;
	margin-left: 5%;
	font-size: 0.5em;
	line-height: 40px;
}

section#sidebar{
	float: right;
	width: 25%;
}

footer#page-footer{
	clear: both;
	width: 100%;
}